<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                Front-End Engineer Resume
            </h1>
            <p class="lead">
                Easy to customize and use to find a new job at a FAANG company!
            </p>
            <form action="/charge" method="POST">
            <script
                src="//checkout.stripe.com/v2/checkout.js" class="stripe-button"
                data-key="{{stripePublishableKey}}"
                data-amount="4000"
                data-name="Front-End Resume Template"
                data-description="Easy to customize"
                data-image="/img/marketplace.png"
                data-locale="auto">
            </script>
            <script>
                //hide default stripe button
                document.getElementsByClassName('stripe-button-el')[0].style.display = "none";
            </script>
            <button type="submit" class="btn btn-primary text-white btn-lg">
                Purchase For $40
            </button>

            </form>
        </div>
        <div class="col-md-6">
            <img src="/img/book.png" alt="" class="img-fluid">
        </div>
    </div>
</section>