<section class="py-5">
    <h1 class="display-3">
        Thank You!
    </h1>
    <p class="lead">Your Front-End Engineer Resume template is ready to be downloaded. Please click the download button below!</p>
    <a href="/assets/files/resume_template.pdf" download><button class="btn btn-secondary mb-3">Download</button></a>
    
</section>